<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Logistic company app</title>
</head>

<body>
<h1>All parcels</h1>
<br />

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Sender</th>
    <th>Receiver</th>
    <th>Weight</th>
    <th>Address</th>
    <th>Price</th>
    <th>Status</th>
    <th>Office Address</th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${parcels.isEmpty()}">
    <td colspan="2">No parcels available</td>
  </tr>
  <tr th:each="parcel : ${parcels}">
    <td><span th:text="${parcel.id}"> </span></td>
    <td><span th:text="${parcel.senderName}"> </span></td>
    <td><span th:text="${parcel.receiverName}"> </span></td>
    <td><span th:text="${parcel.weight}"> </span></td>
    <td><span th:text="${parcel.deliveryAddress}"> </span></td>
    <td><span th:text="${parcel.price}"> </span></td>
    <td><span th:text="${parcel.parcelStatus}"> </span></td>
    <td><span th:text="${parcel.sentFromOffice.address}"> </span></td>
  </tr>
  </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>