<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="navbar" class="row">

    <!--    if it is not authenticated-->
    <div th:if="!${#request.isUserInRole('ADMIN')} and !${#request.isUserInRole('EMPLOYEE')} and !${#request.isUserInRole('CUSTOMER')}" class="navbar expanded">
        <a class="col-1" href="/">
            <img th:src="@{/images/logo.png}" class="logoImgMenu" alt="Logo"/>
        </a>
        <a href="/register">Register</a>
        <a href="/login">LogIn</a>
    </div>

    <!--    if it is logged as admin-->
    <div th:if="${#request.isUserInRole('ADMIN')} and !${#request.isUserInRole('EMPLOYEE')} and !${#request.isUserInRole('CUSTOMER')}" class="navbar expanded">
        <a class="col-1" href="/">
            <img th:src="@{/images/logo.png}" class="logoImgMenu" alt="Logo"/>
        </a>
        <a href="/parcels">Parcel</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" href="/reports">Reports</a>
        <a href="/register_employee">Register Employee</a>
        <a href="/logout">Logout</a>
    </div>

    <!--    if it is logged as employee-->
    <div th:if="!${#request.isUserInRole('ADMIN')} and ${#request.isUserInRole('EMPLOYEE')} and !${#request.isUserInRole('CUSTOMER')}" class="navbar expanded">
        <a class="col-1" href="/">
            <img th:src="@{/images/logo.png}" class="logoImgMenu" alt="Logo"/>
        </a>
        <a href="/companies/parcels">Parcel</a>
        <a href="/unansweredForms">Answer questions</a>
        <a href="/logout">Logout</a>
    </div>

    <!--    if it is logged as customer-->
    <div th:if="!${#request.isUserInRole('ADMIN')} and !${#request.isUserInRole('EMPLOYEE')} and ${#request.isUserInRole('CUSTOMER')}" class="navbar expanded">
        <a class="col-1" href="/">
            <img th:src="@{/images/logo.png}" class="logoImgMenu" alt="Logo"/>
        </a>
        <a href="/customers/parcels">Parcel</a>
        <a href="/customerForms/add">Ask questions</a>
        <a href="/logout">Logout</a>
    </div>
<!--
    <div class="textContainerN"></div>

    <div class="textContainerN col-12">
        <h1 class="h1">Logistic companies</h1>
    </div>
    -->
</div>
</body>
</html>