<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link th:href="@{/css/customers.css}" rel="stylesheet" />
    <link th:href="@{/css/customers-add.css}" rel="stylesheet" />
    <link th:href="@{/css/customers-edit.css}" rel="stylesheet" />
    <title>Logistic customer app</title>
</head>

<body>
<div class="row">
    <div th:replace="fragments :: navbar" />

    <div class="textContainerN"></div>

    <div class="textContainerN col-12">
        <h1 class="h1">Edit a parcel</h1>
    </div>

    <div class="textContainerN2">
            <form action="#" th:action="@{/parcels/edit/{id}(id=${parcel.id})}" th:object="${parcel}" th:method="post">
                <label>Sender</label><br>
                <input type="text" th:field="*{sender.id}" /><br><br>
                <label>Receiver</label><br>
                <input type="text" th:field="*{receiver.id}" /><br><br>
                <label>Office</label><br>
                <input type="text" th:field="*{sentFromOffice.id}" /><br><br>
                <label>Delivery Address</label><br>
                <input type="text" th:field="*{deliveryAddress}" /><br><br>
                <label>Weight</label><br>
                <input type="text" th:field="*{weight}" /><br><br>
                <label>Transport cost</label><br>
                <input type="text" th:field="*{transportCost}" /><br><br>
                <label>Price</label><br>
                <input type="text" th:field="*{price}" /><br><br>
                <label>Parcel Status</label><br>
                <select name="parcelStatus">
                    <option th:each="parcelStatuss:${T(constant.ParcelStatus).values()}"
                            th:value="${parcelStatuss}"
                            th:text="${parcelStatuss}"></option>
                </select><br><br>
<!--                <input type="text" th:field="*{parcelStatus}" /><br><br>-->
                <input type="submit" value="Submit" />
            </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>